---
import Button from "./Button.astro";
---
<section class="bg-grå-400 text-hvid-200 p-20 sm:px-24 md:px-36 lg:px-44 py-20">
    <article>
        <h2 class="font-['Dansestudiet Simple'] text-gul-300 text-5xl sm:text-6xl lg:text-7xl mb-14 sm:mb-16 xl:mb-20">KOMMENDE BEGIVENHEDER</h2>
        <div class="md:grid grid-cols-2 gap-28">
            <div class="mb-16 md:mb-0">
                <img class="mb-7" src="audition.jpg" alt="">
                <h3 class="text-gul-300 mb-4">KOMMENDE AUDITION DSDU</h3>
                <p class="text-hvid-100 text-lg italic mb-7">Lørdag d. 15. juni 2024</p>
                <p class="mb-10 md:w-5/6">Er du klar til at tage din passion for dans til næste niveau? Der er åbent for ansøgninger til Dansestudiets 1-årige danseuddannelse 2024/2025!</p>
                <Button>SE MERE HER</Button>
            </div>
            <div>
                <img class="mb-7" src="workshop.jpg" alt="">
                <h3 class="text-gul-300 mb-4">MOVEMENT WORKSHOP</h3>
                <p class="text-hvid-100 text-lg italic mb-7">Søndag d. 21. april 2024</p>
                <p class="mb-10 md:w-5/6">Timothy De Mesa Højgaard har en flot karriere bag sig. Han har stået på mange kommercielle scener, har optrådt i adskillige TV-programmer og er nu aktuel i forestillingen 'Askepot: The Musical'.</p>
                <Button>SE MERE HER</Button>
            </div>
        </div>
    </article>
</section>