---
---
<section class="p-40">
    <article>
        <h2 class="font-['DansestudietSimple'] mb-16">KOMMENDE BEGIVENHEDER</h2>
        <div class="md:grid grid-cols-2 gap-20">
            <div>
                <img class="mb-6" src="maria.png" alt="">
                <h3 class="mb-3">KOMMENDE AUDITION DSDU</h3>
                <p class="italic mb-7">Lørdag d. 15. juni 2024</p>
                <p class="mb-6 md:w-4/5">Er du klar til at tage din passion for dans til næste niveau? Der er åbent for ansøgninger til Dansestudiets 1-årige danseuddannelse 2024/2025!</p>
              <!-- <Button>SE MERE HER</Button>-->
            </div>
            <div>
                <img class="mb-6" src="mathias.png" alt="">
                <h3 class="mb-3">MOVEMENT WORKSHOP</h3>
                <p class="italic mb-7">Søndag d. 21. april 2024</p>
                <p class="mb-6 md:w-4/5">Timothy De Mesa Højgaard har en flot karriere bag sig. Han har stået på mange kommercielle scener, har optrådt i adskillige TV-programmer og er nu aktuel i forestillingen 'Askepot: The Musical'.</p>
               <!--<Button>SE MERE HER</Button>-->
            </div>
        </div>
    </article>
</section>