---
---
<div class="fixed top-0 z-10 py-6 flex items-center justify-between bg-gradient-to-b from-grå-600 to-transparent w-full">
    <a href="/"><img src="logo.svg" class="lg:pl-4 w-20" alt=""></a>
    <div class="flex items-center space-x-6 gap-4 text-slate-50 md:hidden">
        <button id="mobile-menu-toggle" class="text-white hover:text-gray-300 focus:outline-none focus:text-gray-300">
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
    <div id="mobile-menu" class="hidden md:flex md:items-center md:space-x-6 md:gap-4 md:pl-96 md:text-slate-50">
        <a href="/">Skema</a>
        <a href="/">Undervisere</a>
        <a href="/">Danseuddannelse</a>
        <a href="/">Workshop</a>
        <a href="/">Praktisk</a>
        <a href="/">Vi tilbyder også</a>
        <a href="/">Kontakt</a>
    </div>
</div>

<script>
    const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    mobileMenuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>
