---
import Image from "astro/components/Image.astro";
---

<div class="fixed top-0 z-10 py-6 flex items-center justify-between  -ml-28 ">
    <a href="/"><img src="logo.svg" class="w-20" alt=""></a>
    <div class="flex items-center space-x-6 gap-4 pl-96">
        <a href="/">Skema</a>
        <a href="/">Undervisere</a>
        <a href="/">Danseuddannelse</a>
        <a href="/">Workshop</a>
        <a href="/">Praktisk</a>
        <a href="/">Vi tilbyder også</a>
        <a href="/">Kontakt</a>
    </div>
</div>