---

---
<section class="-mt-32">
    <img src="heroplaceholder.png" alt="">
        <div class="-mt-96 pl-32">
            <h1 class="text-amber-200 text-9xl">Velkommen til</h1>
            <h1 class="text-amber-200 text-9xl">Dansestudiet</h1>
            <p class="">
                Dansestudie i hjertet af Århus, med over 50 ugentlige danseklasser til enhver.
            </p>
            
            
        </div>
</section>