---

---
<section class="-mt-32">
    <img src="heroplaceholder.png" alt="">
        <div class="-mt-96 pl-40">
            <h1 class="text-amber-200 text-9xl">Velkommen til Dansestudiet</h1>
            <p class="">
                Dansestudie i hjertet af Århus, med over 50 ugentlige danseklasser til enhver.
            </p>
            
            
        </div>
</section>
<section class="bg-zinc-800 py-64 pl-40">
    <h2 class="text-amber-200 text-6xl w-2/3" >Tilmeldning til forårssæsonen
2024 er nu åben!</h2>
<div class="pl-20 w-5/12">
    <p>Experimental Contemporary, Afro, House, Street Jazz, Commercial Femme, Hip Hop, Ballet, Moderne Dans, Smidighedstræning, House, Breakdance,
    Fusion Contemporary, Yoga, Waacking, Workshops m.m.</p>
    <p>Vi har mere end 50 danseklasser on ugen for alle aldre og niveauer.</p>
</div>
</section>