---
import Button from "./Button.astro"
---
<section class="-mt-32">
    <img src="heroplaceholder.png" alt="">
        <div class="-mt-96 pl-40">
            <h1 class="text-gul-300 text-9xl pb-6">Velkommen til Dansestudiet</h1>
            <p class="text-hvid-200 pb-4">
                Dansestudie i hjertet af Århus, med over 50 ugentlige danseklasser til enhver.
            </p>
            <Button class="">SE SKEMA HER</Button>
        </div>
</section>
<section class="bg-grå-400 py-48 pl-40">
    <h2 class="text-amber-300 text-7xl w-10/12 pb-6" >Tilmeldning til forårssæsonen 2024 er nu åben!</h2>
<div class="pl-16 w-5/12">
    <p class="text-hvid-200 pb-3">Experimental Contemporary, Afro, House, Street Jazz, Commercial Femme, Hip Hop, Ballet, Moderne Dans, Smidighedstræning, House, Breakdance,
    Fusion Contemporary, Yoga, Waacking, Workshops m.m.</p>
    <p class="text-hvid-200 pb-4">Vi har mere end 50 danseklasser on ugen for alle aldre og niveauer.</p>
    <Button class="">ALLE KLASSER</Button>
</div>

</section>