---
---
<section class="bg-grå-400 text-hvid-100 p-20 sm:px-24 md:px-36 lg:px-44 py-20">
    <article>
        <h2 class="font-['Dansestudiet Simple'] text-gul-300 text-5xl sm:text-6xl lg:text-7xl mb-14 sm:mb-16 xl:mb-20">DANSE<br class="lg:hidden">PORTRÆTTER</h2>
        <div class="md:grid grid-cols-3 gap-8 place-content-center px-16 sm:px-32 md:px-14 lg:px-28 xl:px-40">
            <div class="grid place-items-center mb-10 md:mb-0">
                <img src="portræt1.jpg" alt="" class="mb-4">
                <p class="italic">METTE, 72 ÅR</p>
            </div>
            <div class="grid place-items-center mb-10 md:mb-0">
                <img src="portræt2.jpg" alt="" class="mb-4">
                <p class="italic">ELVIN, 15 ÅR</p>
            </div>
            <div class="grid place-items-center mb-10 md:mb-0">
                <img src="portræt3.jpg" alt="" class="mb-4">
                <p class="italic">JOHANNE, 28 ÅR</p>
            </div>
        </div>
    </article>
</section>