---
import Button from "./Button.astro";
---
<section class="bg-grå-400 text-hvid-200 p-20 sm:px-24 md:px-36 lg:px-44 py-40">
    <article>
        <div class="mb-14 sm:mb-16 xl:mb-20">
            <h2 class="font-['Dansestudiet Simple'] text-gul-300 text-5xl sm:text-6xl lg:text-7xl mb-6 sm:mb-8 xl:mb-10">FØLG OS PÅ DE SOCIALE MEDIER</h2>
            <Button>@DANSESTUDIETAARHUS</Button>
        </div>
        <div class="md:grid grid-cols-4 gap-4 px-16 sm:px-32 md:px-0">
            <img src="socials.jpg" alt="" class="mb-5 md:mb-0">
            <img src="socials.jpg" alt="" class="mb-5 md:mb-0">
            <img src="socials.jpg" alt="" class="mb-5 md:mb-0">
            <img src="socials.jpg" alt="" class="mb-5 md:mb-0">
        </div>
    </article>
</section>