---
import Button from "./Button.astro"
import Undervisercard from "../components/Undervisercard.astro";

---

<h1>26 TOP KOMPETENTE UNDERVISERE</h1>
<h2>Vi har samlet et unikt underviserteam</h2>
<Button>MØD DEM HER</Button>
<img src="undervisere.png" alt="undervisere" class="object-cover w-full">
<Undervisercard></Undervisercard>
