---
import Button from "./Button.astro"
import Undervisercard from "../components/Undervisercard.astro";

---
<section class=" bg-grå-400 pt-12 lg:pt-0">
    <article class="">
<div class="ml-20 mt-8 pb-12">
<h1 class="text-gul-400 pb-3">26 TOP KOMPETENTE UNDERVISERE</h1>
<p class="text-hvid-200 pb-6">Vi har samlet et unikt underviserteam</p>
<Button class="">MØD DEM HER</Button>
</div>
<img src="undervisere.png" alt="undervisere" class="object-cover w-full pb-20">
</article>
<Undervisercard></Undervisercard>
</section>